<html>
    <head>
        <meta charset="utf-8" />
        <title>Home du site Node.js</title>
    </head>
    <body>
        <h1>Page Accueil</h1>
        <p>
            Bonjour <%= firstname %> <%= lastname %>
        </p>
    </body>
</html>