<html>
    <head>
        <meta charset="utf-8" />
        <title>Home du site Node.js</title>
    </head>
    <body>
        <h1>Page Accueil</h1>
        <p>
            <!-- firstname lastname entre -->
            <%= firstname %>
            <%= lastname %>

            LOGIN : <%= login %> 
            PASSWORD : <%= password %>

        </p>
    </body>
</html>